.main{
    background-color: black;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100dvh;
    width: 100%;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.p1{
    color: white;
    font-size: x-large;

}

.mainContent{
    display: flex;
    flex-direction: column;
}

.noteContent{
    background-color: rgba(255, 166, 0, 0.774);
    display: flex;
    gap: 10px;
    width: 1200px;
    height: 480px;
    padding: 5px;
    border-radius: 10px;
}

.note{
    background-color: rgb(61, 60, 60);
    width: 250px;
    height: 280px;
    border-radius: 20px;
}

.notes{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.butNew{
    background-color: rgba(255, 166, 0, 0.897);
    color: white;
    font-size: 70px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 500px;
    align-items: center;
    justify-content: center;
}