.main{
    background-color: black;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100dvh;
    width: 100%;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.p1{
    color: white;
    font-size: x-large;

}

.mainContent{
    display: flex;
    flex-direction: column;
}

.noteContent{
    background-color: rgba(255, 166, 0, 0.774);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 1200px;
    height: 480px;
    padding: 15px;
    border-radius: 10px;
    overflow-y: scroll;

}

.notes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.note{
    background-color: rgb(61, 60, 60);
    color: white;
    position: relative;
    padding: 10px;
    padding-bottom:60px;
    width: auto;
    height: auto;
    border-radius: 20px; 
    overflow-wrap: break-word;
}

.butNew{
    background-color: rgba(255, 166, 0, 0.897);
    font-size: 70px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 500px;
    align-items: center;
    justify-content: center;
}

.butNew:hover{
    background-color: rgba(255, 166, 0, 0.815);
    color: white;
}

.textNote{
    background-color: black;
    display: flex;
    position: absolute;
    height: 100dvh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    gap: 10px;
}

.textArea{
    background-color: rgb(61, 60, 60);
    border: 2px solid orange;
    border-radius: 15px;
    padding: 15px;
    color: white;
    width: 600px;
    height: 500px;
}

.butContent{
}

.butAdd{
    background-color: orange;
    color: black;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    width: 200px;
    height: 50px;
}
.butAdd:hover{
    background-color: rgba(255, 166, 0, 0.815);
    color: white;
}


.butExcluir{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: orange;
    border-radius: 20px;
    padding: 10px 20px;
}